/* Connecting social icons*/
@font-face {
  font-family: "social-icons";
  src: url("../fonts/socicon.eot");
  src: url("../fonts/socicon.eot?#iefix") format("embedded-opentype"),
  url("../fonts/socicon.woff") format("woff"),
  url("../fonts/socicon.ttf") format("truetype"),
  url("../fonts/socicon.svg#icomoonregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* Connecting Roboto Slab*/
@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto Slab";
  src: url("../fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

/* Connecting Open Sans */
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Open Sans";
  src: url("../fonts/Open_Sans/OpenSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}