.main-footer-block {
  .flex-shrink(@shrink: 0);//for sticky footer
  height: 100px;
  width: 100%;
  background-color: @col-grey;
  min-width: 340px;
  text-align: center;
  @media (max-width: 1200px) {
    height: 80px;
  }
  @media (max-width: 992px) {
    height: 70px;
  }
  @media (max-width: 576px) {
    height: 55px;
  }
}

.soc li {
  display: inline-block;
  list-style-type: none;
}

.soc li a {
  font-family: "social-icons" !important;
  font-size: 30px;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  margin: 25px 25px;
  color: @col-white;
  @media (max-width: 1200px) {
    margin: 15px 25px;
  }
  @media (max-width: 992px) {
    margin: 10px 25px;
  }
  @media (max-width: 576px) {
    margin: 10px 20px;
    font-size: 20px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    border-radius: 20px;
  }
  &:hover {
    .animation-name(icon-scale);
    .animation-duration(.4s);
    .animation-iteration-count(2);
    .animation-direction(alternate);
  }
}

@keyframes icon-scale {
  from {
    .transform(scale(1));
  }
  to  {
    .transform(scale(1.2));
  }
}

@-webkit-keyframes icon-scale {
  from {
    .transform(scale(1));
  }
  to  {
    .transform(scale(1.2));
  }
}

.soc-facebook {
  background-color: #3e5b98;
}

.soc-facebook::before {
  content: 'b';
}

.soc-twitter {
  background-color: #4da7de;
}

.soc-twitter::before {
  content: 'a';
}

.soc-youtube {
  background-color: #FF0000 ;
}

.soc-youtube::before {
  content: 'r';
}