header {
  height: 90px;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  right: 0;
  background-color: @col-white;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(space-around);
  border-bottom: 1px solid @col-grey;
  @media (max-width: 1200px) {
    height: 78px;
  }
  @media (max-width: 992px) {
    height: 70px;
  }
  @media (max-width: 776px) {
    .justify-content(space-between);
  }
  @media (max-width: 576px) {
    height: 50px;
    .justify-content(center);
  }
}

.club-logo {
  margin-left: 1%;
  max-width: 470px;
  .animation-name(logo-transformation);
  .animation-duration(2s);
  img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  @media (max-width: 1200px) {
    margin-left: 0;
    max-width: 400px;
  }
  @media (max-width: 992px) {
    max-width: 360px;
  }
  @media (max-width: 576px) {
    display: none;
  }
}

@keyframes logo-transformation {
  from  {
    .transform(translateX(-50%) skew(14deg,0));
  }
  to {
    .transform(translateX(0) skew(0,0));
  }
}

@-webkit-keyframes logo-transformation {
  from  {
    .transform(translateX(-50%) skew(14deg,0));
  }
  to {
    .transform(translateX(0) skew(0,0));
  }
}

.club-phone-number {
  text-decoration: none;
  color: @col-red;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin-right: 1%;
  margin-top: 55px;
  .transition(@args: transform 1s);
  &:hover {
    .transform(rotate(4deg));
  }
  @media (max-width: 1200px) {
    font-size: 18px;
    margin-top: 45px;
  }
  @media (max-width: 992px) {
    display: none;
  }
}

.main-navigation-menu {
  margin-top: 55px;
  @media (max-width: 1200px) {
    margin-top: 45px;
  }
  @media (max-width: 992px) {
    margin-top: 37px;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.main-navigation {
  @media (max-width: 768px) {
    display: none;
  }
}

.main-navigation-menu>li>a {
  text-decoration: none;
  color: @col-black;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: bold;
  padding: 15px 15px 9px 15px;
  @media (max-width: 1200px) {
    font-size: 18px;
    padding: 10px;
  }
  &:hover {
    border-bottom: 4px solid @col-blue;
  }
}

.main-navigation-menu li {
  display: inline-block;
}

/* Dropdown menu styles */
.main-navigation-menu .dropdown-menu {
  display: none;
  .animation-name(dropdown-load);
  .animation-duration(.5s);
  .animation-timing-function(linear);
}

@keyframes dropdown-load {
  from {
    .opacity(0);
  }
  to {
    .opacity(1);
  }
}

@-webkit-keyframes dropdown-load {
  from {
    .opacity(0);
  }
  to {
    .opacity(1);
  }
}

.main-navigation-menu li:hover>ul  {
  display: inline-block;
  position: absolute;
  left: 0;
  right: 0;
  top: 90px;
  background-color: @col-grey;
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  @media (max-width: 1200px) {
    top: 78px;
  }
  @media (max-width: 992px) {
    top: 70px;
  }
}

.dropdown-menu a {
  cursor: pointer;
  color: @col-black;
  text-decoration: none;
  padding: 19px;
  line-height: 50px;
  .transition(color 300ms);
  &:hover {
    color: @col-white;
    background-color: @col-red;
  }
}

.menu {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  width: 30%;
  text-transform: uppercase;
  text-align: center;
  min-width: 130px;
  margin: 30px 10px 0 0;
  cursor: pointer;
  @media (min-width: 768px) {
  display: none;
  }
  @media (max-width: 576px) {
    width: 90%;
    margin: 5px 0 0 0;
  }
}

.title {
  width: 100%;
  .box-sizing(border-box);
  padding: 14px;
  position: relative;
  color: @col-black;
  &:hover {
    color: @col-red;
  }
  &:hover path {
    fill: @col-red;
  }
}

.menu span {
  float: right;
  font-size: 18px;
}

.menu svg {
  width: 20px;
  height: 20px;
}

.dropdown {
  width: 100%;
  text-align: left;
  background: @col-white;
  border-radius: 4px;
  .box-shadow(0 0 40px -10px #000);
  color: @col-black;
  margin-top: 24px;
  max-height: 0;
  overflow: hidden;
  .transition(@args: all .5s);
  a {
    text-decoration: none;
    color: @col-black;
  }
  @media (max-width: 576px) {
    margin-top: 10px;
  }
}

.down {
  max-height: 180px
}

.arrow {
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid @col-white;
  position: absolute;
  right: 20px;
  bottom: -24px;
  display: none;
  @media (max-width: 576px) {
    bottom: -11px;
  }
}

.arrow.gone {
  display: block
}

.dropdown p {
  padding: 15px 14px;
  margin: 0;
  .transition(@args: all .1s);
  path {
    .transition(@args: fill 1s);
  }
  &:hover {
    background-color: @col-red;
    .transform(scale(1.05));
    color: @col-white;
    .box-shadow(0 0 30px -10px #000)
  }
  &:hover path {
  fill: @col-white;
  }
}