.club-name-mix {
  font-family: 'Roboto Slab', serif;
  color: @col-chocolate;
  text-transform: uppercase;
  font-size: 22px;
}

.club-heading-mix {
  font-family: 'Roboto Slab', serif;
  color: @col-white;
  text-transform: uppercase;
  font-size: 30px;
  margin-top: 5px;
}

.club-text-mix {
  font-family: 'Open Sans', sans-serif;
  margin-top: 10px;
  color: @col-darkgrey;
  font-size: 16px;
}

//fonts mixin
.font-face(@file-path) {
  @font-face {
    font-family: "social-icons";
    src: url("@{file-path}fonts/socicon.eot");
    src: url("@{file-path}fonts/socicon.eot?#iefix") format("embedded-opentype"),
    url("@{file-path}fonts/socicon.woff") format("woff"),
    url("@{file-path}fonts/socicon.ttf") format("truetype"),
    url("@{file-path}fonts/socicon.svg#icomoonregular") format("svg");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("@{file-path}fonts/Roboto_Slab/RobotoSlab-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Roboto Slab";
    src: url("@{file-path}fonts/Roboto_Slab/RobotoSlab-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("@{file-path}fonts/Open_Sans/OpenSans-Regular.ttf");
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: "Open Sans";
    src: url("@{file-path}fonts/Open_Sans/OpenSans-Bold.ttf");
    font-weight: bold;
    font-style: normal;
  }
}