/* Connecting fonts*/
@import "fonts";
/*Connecting CSS reset */
@import "css-reset";
/*Connecting footer styles */
@import "footer";
/*Connecting header styles */
@import "header";
/*Connecting variables */
@import "variables";
/*Connecting mixins */
@import "mixins";
/*Connecting styles for about-club-block */
@import "main-page-elements/about-club";
/*Connecting styles for club-rules-block */
@import "main-page-elements/club-rules";
/*Connecting styles for club-schedule-block */
@import "main-page-elements/schedule";
/*Connecting styles for club-coaches-block */
@import "main-page-elements/coaches";
/*Connecting styles for slider-block */
@import "main-page-elements/slider";
/*Connecting less-prefixer */
@import "LESS-Prefixer-master/prefixer";

//for sticky footer
html, body {
  height: 100%;
}

body {
  .flex-block();
  .flex-direction(@direction: column);
}

.main-page-content {
  .flex(@args: 1 0 auto);
}
//the end of sticky footer styles

.slider-block,.about-club-block,
.club-rules-block,.club-schedule-block {
  margin-bottom: 60px;
}