@col-red: #E52538;
@col-black: black;
@col-chocolate: #CD926D;
@col-white: white;
@col-grey: #F4F4F4;
@col-darkgrey: #666666;
@col-blue: rgba(52, 73, 94, .7);

//variable of time for slider
@full-loop-time: 30s;