@import "../css-reset";
@import "../footer";
@import "../header";
@import "../variables";
@import "../mixins";
@import "../LESS-Prefixer-master/prefixer";

//connecting fonts
.font-face('../../');

//for sticky footer
html, body {
  height: 100%;
}

body {
  .flex-block();
  .flex-direction(@direction: column);
}

.contacts {
  .flex(@args: 1 0 auto);//the end of sticky footer styles
  width: 80%;
  margin: 120px auto 0 auto;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(center);
  .align-items(stretch);
  @media (max-width: 1200px) {
    margin-top: 100px;
  }
  @media (max-width: 992px) {
    margin-top: 90px;
    width: 90%;
  }
  @media (max-width: 768px) {
    .flex-flow(@direction: row, @wrap: wrap);
  }
  @media (max-width: 576px) {
    margin-top: 70px;
    width: 95%;
  }
}

.contacts-map, #author {
  width: 50%;
  @media (max-width: 768px) {
    width: 100%;
  }
}

#author {
  display: none;
}

.contacts-info {
  width: 50%;
  background-color: black;
  .box-sizing(border-box);
  padding: 40px;
  @media (max-width: 992px) {
    padding: 30px;
  }
  @media (max-width: 768px) {
    padding: 40px;
    width: 100%;
  }
  @media (max-width: 576px) {
    padding: 20px;
  }
}

.contacts-info h1 {
  .club-heading-mix();
}

.contacts-info .map-link {
  display: none;
  @media (max-width: 768px) {
    display: inline-block;
  }
}

.contacts-info p, h2 {
  .club-text-mix();
  span, a {
    color: @col-chocolate;
    text-decoration: none;
  }
  .show {
    text-decoration: underline;
    cursor: pointer;
  }
}

.contacts-info p:first-child {
  .club-name-mix();
}

.contacts-info p:nth-of-type(2) {
  margin-top: 10px;
}

#author {
  .box-sizing(border-box);
  padding: 40px;
  background-color: @col-black;
  figure {
    margin: 0 auto;
    width: 100%;
    height: 50%;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  p {
    .club-text-mix();
  }
  span, a {
    text-decoration: none;
    color: @col-chocolate;
  }
  .hide {
    text-decoration: underline;
    cursor: pointer;
  }
}

.contacts-map {
  @media (max-width: 768px) {
    display: none;
  }
}

.contacts-map iframe {
  width: 100%;
  height: 100%;
}

.form-style {
  font-family: "Open Sans", sans-serif;
  width: 100%;
  .box-sizing(border-box);
  padding: 30px;
  background: @col-grey;
  margin: 20px auto 0 auto;
}

.form-style h2 {
  background: @col-chocolate;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  color: @col-white;
  font-size: 18px;
  font-weight: 100;
  padding: 20px;
  margin: -30px -30px 30px -30px;
}

.form-style input[type="text"],
.form-style input[type="email"],
.form-style textarea {
  .box-sizing(border-box);
  outline: none;
  display: block;
  width: 100%;
  padding: 7px;
  border: none;
  border-bottom: 1px solid #ddd;
  background: transparent;
  margin-bottom: 10px;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  height: 45px;
}

.form-style textarea{
  resize: none;
  overflow: hidden;
}

.form-style input[type="submit"] {
  background-color: @col-darkgrey;
  display: inline-block;
  cursor: pointer;
  color: #FFFFFF;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  padding: 8px 18px;
  text-decoration: none;
  text-transform: uppercase;
  &:hover {
    color: @col-darkgrey;
    background-color: @col-white;
  }
}