@import "../css-reset";
@import "../mixins";
@import "../variables";
@import "../header";
@import "../footer";
@import "../LESS-Prefixer-master/prefixer";

//connecting fonts
.font-face('../../');

//for sticky footer
html, body {
  height: 100%;
}

body {
  .flex-block();
  .flex-direction(@direction: column);
}

.content {
  .flex(@args: 1 0 auto);
}
//the end of sticky footer styles

.gallery-block {
  margin-top: 120px;
  @media (max-width: 1200px) {
    margin-top: 100px;
  }
  @media (max-width: 992px) {
    margin-top: 90px;
  }
  @media (max-width: 500px) {
    margin-top: 70px;
  }
}

.gallery {
  font-size: 0; /*delete spaces between child inline-blocks*/
  max-width: 1160px; /*270 x 4 fixed-width + 4 x (10*2) margin */
  margin: 0 auto;
  position: relative;
  @media (max-width: 1159px) {
    max-width: 870px; /*270 x 3 fixed-width + 3 x (10*2) margin */
  }
  @media (max-width: 887px) {
    max-width: 580px; /*270 x 2 fixed-width + 2 x (10*2) margin */
  }
  @media (max-width: 598px) {
    max-width: 290px; /*270 x 1 fixed-width + 1 x (10*2) margin */
  }
}

.image-container {
  display: inline-block;
  vertical-align: top;
  margin: 10px;
  position: relative;
  cursor: pointer;
}

.preview {
  max-width: 270px;
  width: 100%;
  object-fit: cover;
  max-height: 260px;
  min-height: 260px;
}

.image-container:after {
  width: 100%;
  height: 100%;
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  background: @col-blue;
  .opacity(0);
  .transition(@args: all 0.5s ease-out);
  .transform(rotateY(90deg));
}

.image-container:hover:after {
  .opacity(0.9);
  .transform(rotateY(0deg));
}

.hover-buttons {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  display: none;
}

.image-container:hover .hover-buttons {
  display: inline-block;
}

.zoom {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid @col-white;
  .box-sizing(border-box);
  border-radius: 20px;
  z-index: 2;
  background: url("../../img/gallery/zoom-in.png") no-repeat center;
}

.zoom:hover {
  background-color: rgba(255,255,255,.2);
}

.overlay {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  .opacity(0.9);
  background: @col-blue;
  display: none;
}

.overlay.active {
  display: block;
  z-index: 4;
}

.popup {
  position: fixed;
  width: 100%;
  max-width: 1170px;
  .box-sizing(border-box);
  top: 50%;
  left: 50%;
  .transform(translate(-50%, -50%));
  display: none;
}

.popup.active {
  display: block;
  z-index: 5;
}

.full-image {
  width: 1160px;
  max-width: 100%;
  border: 3px solid @col-grey;
  max-height: 550px;
  object-fit: cover;
  display: none;
}

.full-image.active {
  display: block;
}

.close {
  position: absolute;
  top: 0;
  right: 5px;
  width: 25px;
  height: 25px;
  background-color: @col-blue;
  background: url("../../img/gallery/close.png") no-repeat center;
}

.close:hover {
  background-color: rgba(255,255,255,.2);
  cursor: pointer;
}

.pagination {
  margin: 20px 0;
  min-width: 250px;
  ul {
    font-family: "Open Sans", sans-serif;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    @media (max-width: 576px) {
      font-size: 13px;
    }
    li {
      display: inline-block;
      a {
        color: @col-black;
        text-decoration: none;
        padding: 5px 10px;
        border: 1px solid @col-black;
        border-radius: 4px;
        &:hover {
          background-color: @col-blue;
        }
      }
    }
  }
  .pag-prefix, .pag-suffix {
    border: none;
  }
}