@import "../css-reset";
@import "../header";
@import "../footer";
@import "../variables";
@import "../mixins";
@import "../LESS-Prefixer-master/prefixer";

//connecting fonts
.font-face('../../');

//for sticky footer
html, body {
  height: 100%;
}

body {
  .flex-block();
  .flex-direction(@direction: column);
}

.content {
  .flex(@args: 1 0 auto);
}
//the end of sticky footer styles

.mma-article {
  width: 80%;
  margin: 120px auto 0 auto;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(center);
  .align-items(stretch);
  min-width: 340px;
  @media (max-width: 1200px) {
    margin-top: 100px;
  }
  @media (max-width: 992px) {
    width: 90%;
    margin-top: 90px;
  }
  @media (max-width: 576px) {
    width: 95%;
    margin-top: 70px;
  }
}

.mma-image {
  background: url("../../img/about-mma/mma-image.PNG") no-repeat bottom;
  .background-size(cover);
  width: 50%;
  @media (max-width: 768px) {
    display: none;
  }
}

.mma-description {
  width: 50%;
  background-color: black;
  .box-sizing(border-box);
  padding: 40px;
  @media (max-width: 768px) {
    width: 100%;
  }
  @media (max-width: 576px) {
    padding: 20px;
  }
}

.mma-description p {
  .club-name-mix();
}

.mma-description h1 {
  .club-heading-mix();
}

.mma-description ul {
  .club-text-mix();
  list-style-type: none;
  li {
    padding-top: 5px;
    &:hover .sprite {
      background-position: -22px 0;
    }
    .sprite {
      vertical-align: bottom;
      display: inline-block;
      width: 20px;
      height: 20px;
      border-radius: 10px;
      background: url("../../img/about-mma/arrow-sprite.png") no-repeat left bottom;
      .background-size(42px 20px);
    }
  }
  a {
    text-decoration: none;
    color: #666666;
    padding-left: 5px;
    &:hover {
      color: @col-white;
    }
  }
}

/* Parallax */
.parallax-about-mma {
  min-width: 340px;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  .opacity(0.65);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  .background-size(cover);
}

.bgimg-1 {
  background-image: url("../../img/about-mma/mma-parallax-1.jpg");
  min-height: 400px;
}

.bgimg-2 {
  background-image: url("../../img/about-mma/mma-parallax-2.jpg");
  min-height: 400px;
}

.bgimg-3 {
  background-image: url("../../img/about-mma/mma-parallax-3.png");
  min-height: 400px;
}

.bgimg-4 {
  background-image: url("../../img/about-mma/mma-parallax-4.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  text-align: center;
}

.caption .border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  @media (max-width: 400px) {
    letter-spacing: 6px;
  }
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
  .bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
    background-attachment: scroll;
  }
}

.parallax-paragraph-1, .parallax-paragraph-2 {
  padding: 50px 80px;
  text-align: justify;
  font-family: "Open Sans", sans-serif;
  font-size: 15px;
  line-height: 20px;
  @media (max-width: 576px) {
    padding: 50px 25px;
  }
  h2 {
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 20px;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 10px;
  }
}

.parallax-paragraph-1 {
  color: @col-darkgrey;
  background-color: @col-white;
  h2 {
    color: @col-black;
  }
}

.parallax-paragraph-2 {
  color: #DDDDDD;
  background-color: #282E34;
  h2 {
    color: @col-darkgrey;
  }
}

.bgimg-4 span {
  cursor: pointer;
  &:hover {
    background-color: @col-grey;
    color: @col-darkgrey;
  }
}