@import "../css-reset";
@import "../footer";
@import "../header";
@import "../mixins";
@import "../variables";
@import "../LESS-Prefixer-master/prefixer";

//connecting fonts
.font-face('../../');

//for sticky footer
html, body {
  height: 100%;
}

body {
  .flex-block();
  .flex-direction(@direction: column);
}

.news-block {
  .flex(@args: 1 0 auto);//the end of sticky footer styles
  width: 80%;
  margin: 120px auto 30px auto;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(space-between);
  min-width: 250px;
  @media (max-width: 1200px) {
    margin-top: 100px;
  }
  @media (max-width: 992px) {
    width: 90%;
    margin-top: 90px;
  }
  @media (max-width: 768px) {
    .flex-flow(@direction: column-reverse, @wrap: nowrap);
    .justify-content(center);
  }
  @media (max-width: 576px) {
    width: 95%;
    margin-top: 70px;
    margin-bottom: 0;
  }
}

.news-posts-wrap {
  width: 75%;
  .flex-block();
  .flex-flow(@direction: row, @wrap: wrap);
  .justify-content(space-between);
  @media (max-width: 768px) {
    width: 100%;
  }
  .post-wrap {
    width: 45%;
    border: 1px solid @col-darkgrey;
    margin-bottom: 50px;
    @media (max-width: 992px) {
      width: 90%;
    }
    @media (max-width: 768px) {
      width: 100%;
    }

  }
  .news-image {
    width: 100%;
    height: 220px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.news-info {
  font-family: "Open Sans", sans-serif;
  .box-sizing(border-box);
  padding: 15px;
  h2 {
    text-transform: uppercase;
    font-weight: bold;
    margin: 15px 0;
    font-size: 20px;
  }
  p {
    color: @col-darkgrey;
    font-size: 15px;
  }
  a {
    color: @col-darkgrey;
    text-decoration: none;
    display: inline-block;
    margin-top: 20px;
    padding: 5px 10px;
    border: 1px solid @col-darkgrey;
    &:hover {
      color: @col-white;
      background-color: @col-darkgrey;
    }
  }
}

.news-info p:nth-of-type(1) {
  margin-bottom: 10px;
}


.news-navigation-wrap {
  width: 20%;
  font-family: "Open Sans", sans-serif;
  .box-sizing(border-box);
  @media (max-width: 768px) {
    width: 100%;
    margin-bottom: 20px;
  }
  h2 {
    font-size: 20px;
  }
  a {
    color: @col-darkgrey;
    text-decoration: none;
    display: block;
    margin: 10px 0;
    padding: 0;
    &:hover {
      color: @col-chocolate;
    }
  }
  form {
    border: 1px solid @col-darkgrey;
    margin-bottom: 20px;
    height: 40px;
    position: relative;
  }
  input[type="text"] {
    width: 70%;
    height: 100%;
    border: none;
    padding: 0;
    font-size: 15px;
    position: absolute;
    left: 0;
    @media (max-width: 768px) {
      width: 80%;
    }
  }
  input[type="submit"] {
    width: 30%;
    height: 100%;
    border: none;
    padding: 0;
    cursor: pointer;
    position: absolute;
    right: 0;
    background-color: @col-grey;
    color: @col-darkgrey;
    @media (max-width: 768px) {
      width: 20%;
    }
  }
}