.about-club-block {
  width: 80%;
  margin: 0 auto;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(center);
  .align-items(stretch);
  @media (max-width: 992px) {
    width: 90%;
  }
  @media (max-width: 576px) {
    width: 95%;
  }
}

.about-club-image {
  background: url("../img/high-kick.png") no-repeat right;//the path is correct
  .background-size(cover);
  width: 50%;
  @media (max-width: 1200px) {
    background-position: center;
  }
  @media (max-width: 768px) {
    display: none;
  }
}

.about-club-description {
  width: 50%;
  background-color: @col-black;
  .box-sizing(border-box);
  padding: 40px;
  @media (max-width: 992px) {
    padding: 30px;
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 40px;
  }
  @media (max-width: 576px) {
    padding: 20px;
  }
}

.about-club-description p:first-child {
  .club-name-mix();
}

.about-club-description h2 {
  .club-heading-mix();
}

.about-club-text {
  .club-text-mix();
}