.club-rules-block {
  width: 80%;
  margin: 0 auto;
  .flex-block();
  .flex-flow(@direction: row, @wrap: nowrap);
  .justify-content(center);
  .align-items(stretch);
  @media (max-width: 992px) {
    width: 90%;
  }
  @media (max-width: 576px) {
    width: 95%;
  }
}

.rules-image {
  background: url("../img/beating punchbag.png") no-repeat;//the path is correct
  .background-size(cover);
  width: 50%;
  @media (max-width: 768px) {
    display: none;
  }
}

.rules-description {
  width: 50%;
  background-color: black;
  .box-sizing(border-box);
  padding: 40px;
  @media (max-width: 992px) {
    padding: 30px;
  }
  @media (max-width: 768px) {
    width: 100%;
    padding: 40px;
  }
  @media (max-width: 576px) {
    padding: 20px;
  }
}

.rules-description p {
  .club-name-mix();
}

.rules-description h2 {
  .club-heading-mix();
}

.rules-description ul {
  .club-text-mix();
  list-style-type: disc;
  padding-left: 20px;
  li {
    padding-top: 5px;
  }
}