.club-coaches-block {
  background-color: @col-white;
  height: 800px;
  width: 80%;
  margin: 0 auto;
  @media (max-width: 1200px) {
    height: 850px;
  }
  @media (max-width: 992px) {
    height: 1300px;
    width: 90%;
  }
  @media (max-width: 768px) {
    height: 1450px;
  }
  @media (max-width: 576px) {
    height: 1800px;
    width: 95%;
  }
  @media (max-width: 500px) {
    height: 1700px;
  }
}

.one-coach-wrap {
  background-color: @col-black;
  max-width: 31%;
  min-height: 700px;
  .box-sizing(border-box);
  float: left;
  margin: 1%;
  .photo img {
    width: 100%;
  }
  @media (max-width: 1200px) {
    min-height: 773px;
  }
  @media (max-width: 992px) {
    max-width: 48%;
    margin-bottom: 20px;
    min-height: 0;
  }
  @media (max-width: 768px) {
    max-width: 48%;
    margin-bottom: 20px;
  }
  @media (max-width: 576px) {
    max-width: 95%;
    margin-bottom: 20px;
  }
}

.one-coach-wrap .name {
  text-transform: uppercase;
  color: @col-chocolate;
  font-size: 25px;
  border-bottom: 1px solid @col-chocolate;
  font-family: "Roboto Slab", serif;
  line-height: 30px;
  .box-sizing(border-box);
  padding: 0 20px 20px 20px;
  margin: 25px 0;
  @media (max-width: 576px) {
    font-size: 20px;
    line-height: 20px;
    padding: 0 10px 10px 10px;
    margin: 15px 0;
  }
}

.one-coach-wrap .function {
  font-weight: bold;
  font-size: 19px;
  border-bottom: 1px solid @col-chocolate;
  line-height: 30px;
  .box-sizing(border-box);
  padding: 0 20px 20px 20px;
  margin: 19px 0;
  color: @col-white;
  @media (max-width: 576px) {
    font-size: 18px;
    line-height: 26px;
    padding: 0 10px 10px 10px;
    margin: 15px 0;
  }
}

.one-coach-wrap .description {
  font-family: "Open Sans", sans-serif;
  .box-sizing(border-box);
  padding: 0 20px 20px 20px;
  color: @col-darkgrey;
  @media (max-width: 992px) {
    padding: 0 10px 10px 10px;
  }
  @media (max-width: 576px) {
    padding: 0 5px 5px 5px;
  }
}

.one-coach-wrap .description ul {
  margin: 16px 0;
  padding-left: 20px;
  list-style-type: disc;
  font-size: 17px;
  line-height: 18px;
  @media (max-width: 576px) {
    padding-left: 25px;
    font-size: 15px;
    line-height: 16px;
  }
}

.one-coach-wrap .additional-info {
  font-size: 17px;
  line-height: 18px;
  @media (max-width: 576px) {
    font-size: 15px;
    line-height: 16px;
    padding-bottom: 10px;
  }
}

@media (max-width: 992px) {
  .one-coach-wrap:nth-of-type(3) {
    float: none;
    clear: both;
  }
}

.clear-float::after {
  content: "";
  display: block;
  clear: both;
}