.club-schedule-block {
  width: 80%;
  margin: 0 auto;
  @media (max-width: 992px) {
    width: 90%;
  }
  @media (max-width: 576px) {
    width: 95%;
  }
}

.schedule, .additional {
  width: 100%;
}

.additional {
  min-width: 340px;
}

.schedule {
  td {
    font-family: "Open Sans", sans-serif;
  }
  th {
    font-family: "Roboto Slab", serif;
    text-transform: uppercase;
    padding-top: 8px;
    padding-bottom: 6px;
    background-color: @col-grey;
    color: black;
  }
  caption {
    font-family: "Open Sans", sans-serif;
    text-align: right;
    font-size: 14px;
    margin-bottom: 8px;
  }
  td, th {
    border: 1px solid rgba(0, 0, 0, 0.3);
    font-size: 18px;
    padding: 3px 7px;
    text-align: center;
    @media (max-width: 992px) {
      font-size: 16px;
    }
    @media (max-width: 768px) {
      font-size: 14px;
    }
  }
  span {
    color: @col-red;
    @media (max-width: 992px) {
      font-size: 14px;
    }
    @media (max-width: 768px) {
      font-size: 12px;
    }
  }
  tr:nth-of-type(even) {
    background-color: @col-black;
    color: @col-chocolate;
  }
  tr:nth-of-type(odd) {
    background-color: @col-grey;
  }
}

.additional {
  display: none;
  @media (max-width: 768px) {
    display: table;
    & tr>td:nth-of-type(2), & tr>td:nth-of-type(3), & tr>td:nth-of-type(4),
    & tr>th:nth-of-type(2),& tr>th:nth-of-type(3),& tr>th:nth-of-type(4) {
      display:none;
    }
  }
}

@media (max-width: 1200px) {
  .schedule tr>th:last-child,
  .schedule tr>td:last-child {
    display: none;
  }
}

@media (max-width: 768px) {
  .schedule:first-child tr>th:nth-of-type(5),.schedule:first-child tr>th:nth-of-type(6),
  .schedule:first-child tr>th:nth-of-type(7), .schedule:first-child tr>td:nth-of-type(5),
  .schedule:first-child tr>td:nth-of-type(6), .schedule:first-child tr>td:nth-of-type(7) {
    display: none;
  }
}