.slider-block {
  width: 100%;
  margin: 90px auto 60px;
  @media (max-width: 1200px) {
    margin-top: 79px;
  }
  @media (max-width: 992px) {
    margin-top: 71px;
  }
  @media (max-width: 576px) {
     margin-top: 50px;
   }
  @media (min-width: 1920px) {
    max-width: 80%;
  }
}

#slider {
  width: 100%;
  height: 600px;
  position: relative;
  overflow: hidden;
}

.slides {
  width: 400%;
  height: 100%;
  position: relative;
  -webkit-animation: slide @full-loop-time infinite;
  -moz-animation: slide @full-loop-time infinite;
  animation: slide @full-loop-time infinite;
}

.slider {
  width: 25%;
  height: 100%;
  float: left;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.image {
  width: 100%;
  height: 100%;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* Legend */
.legend {
  border: 500px solid transparent;
  border-left: 800px solid @col-blue;
  border-bottom: 0;
  position: absolute;
  bottom: 0;
  @media (max-width: 576px) {
    border: 400px solid transparent;
    border-left: 800px solid @col-blue;
    border-bottom: 0;
    position: absolute;
    bottom: 0;
  }
}

/* Contents */
.content {
  width: 100%;
  height: 100%;
  position: absolute;
  overflow: hidden;
}

.content-txt {
  width: 400px;
  height: 150px;
  float: left;
  position: relative;
  top: 300px;
  -webkit-animation: content-s @full-loop-time/4 infinite;
  -moz-animation: content-s @full-loop-time/4 infinite;
  animation: content-s @full-loop-time/4 infinite;
}

.content-txt h2 {
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;
  font-size: 24px;
  color: @col-white;
  text-align: left;
  margin-left: 30px;
  padding-bottom: 10px;
  @media (max-width: 576px) {
    margin-top: 60px;
    margin-left: 5px;
  }
}

.content-txt h3 {
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-size: 14px;
  font-style: italic;
  color: #fff;
  text-align: left;
  margin-left: 30px;
  @media (max-width: 576px) {
    margin-left: 5px;
    max-width: 340px;
  }
}

.content-txt a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: @col-white;
  font-family: "Open Sans",sans-serif;
  margin-left: 110px;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid @col-white;
  &:hover {
    color: rgba(52, 73, 94, .7);
    background-color: @col-white;
  }
  @media (max-width: 576px) {
    margin-left: 85px;
  }
}

/* Switch */
.switch {
  width: 120px;
  height: 10px;
  position: absolute;
  bottom: 50px;
  z-index: 2;
  left: 30px;
  @media (max-width: 576px) {
    bottom: 20px;
  }
}

.switch > ul {
  list-style: none;
}

.switch > ul > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #333;
  float: left;
  margin-right: 5px;
}

.switch ul {
  overflow: hidden;
}

.on {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: @col-red;
  position: relative;
  -webkit-animation: on @full-loop-time infinite;
  -moz-animation: on @full-loop-time infinite;
  animation: on @full-loop-time infinite;
}

/* Animations*/
@-webkit-keyframes slide {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-moz-keyframes slide {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@keyframes slide {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: -100%;
  }
  46% {
    margin-left: -100%;
  }
  50% {
    margin-left: -200%;
  }
  71% {
    margin-left: -200%;
  }
  75% {
    margin-left: -300%;
  }
  96% {
    margin-left: -300%;
  }
}

@-webkit-keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 0;
  }
  30% {
    left: 0;
  }
  40% {
    left: 0;
  }
  50% {
    left: 0;
  }
  60% {
    left: 0;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}

@-moz-keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 0;
  }
  30% {
    left: 0;
  }
  40% {
    left: 0;
  }
  50% {
    left: 0;
  }
  60% {
    left: 0;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}

@keyframes content-s {
  0% {
    left: -420px;
  }
  10% {
    left: 20px;
  }
  15% {
    left: 0;
  }
  30% {
    left: 0;
  }
  40% {
    left: 0;
  }
  50% {
    left: 0;
  }
  60% {
    left: 0;
  }
  70% {
    left: 0;
  }
  80% {
    left: -420px;
  }
  90% {
    left: -420px;
  }
  100% {
    left: -420px;
  }
}

@-webkit-keyframes on {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@-moz-keyframes on {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}

@keyframes on {
  0%, 100% {
    margin-left: 0;
  }
  21% {
    margin-left: 0;
  }
  25% {
    margin-left: 15px;
  }
  46% {
    margin-left: 15px;
  }
  50% {
    margin-left: 30px;
  }
  71% {
    margin-left: 30px;
  }
  75% {
    margin-left: 45px;
  }
  96% {
    margin-left: 45px;
  }
}